<div
  #sheet
  class="bottom-sheet"
  [class.animating]="isAnimating"
  [style.transform]="'translateY(' + currentTranslateY + 'px)'"
  [style.--sheet-offset.px]="currentTranslateY"
  (pointermove)="onPointerMove($event)"
  (pointerup)="onPointerUp($event)"
  (pointercancel)="onPointerUp($event)"
>
  <div class="drag-handle-area" (pointerdown)="onPointerDown($event)">
    <div class="drag-handle"></div>
  </div>

  <div class="sheet-header">
    <ng-content select="[sheet-header]"></ng-content>
  </div>

  <div #content class="sheet-content">
    <ng-content select="[sheet-body]"></ng-content>
  </div>
</div>
